name: CI to Docker Hub

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        mediawiki_version: ['1.44', '1.44', '1.43', '1.39']
        php_version: ['8.4', '8.3', '8.2', '8.1']
        variant: [apache]
        include:
          # set global default php
          - php_default: '8.1'
          # set 1.35 default php
          #- php_default: '7.4'
          #  mediawiki_version: '1.35'
        exclude:        
          - php_version: '8.2'
            mediawiki_version: '1.39'
          - php_version: '8.3'
            mediawiki_version: '1.39'
          - php_version: '8.4'
            mediawiki_version: '1.39'
  
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate dockerfile
        run: |
          ./generate_dockerfile.sh ${{matrix.mediawiki_version}} ${{matrix.php_version}} ${{matrix.variant}}

      - name: Retrieve MediaWiki version
        run: |
          source ./helpers.sh
          echo "MEDIAWIKI_FULL_VERSION=$(mediawiki_version ${{matrix.mediawiki_version}})" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: network=host

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache/${{ matrix.mediawiki_version }}/${{ matrix.variant }}
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-


      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}


      - name: set imageRepository
        run: echo "imageRepository=gesinn/mediawiki-base" >> $GITHUB_ENV

      - name: generate tags for image
        run: |
          source ./helpers.sh
          echo "TAGS=$(generate_tags ${{ env.imageRepository}} ${{env.MEDIAWIKI_FULL_VERSION}} ${{matrix.mediawiki_version}} ${{matrix.php_version}} ${{matrix.php_default}} ${{matrix.variant}})" >> $GITHUB_ENV

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: ./
          file: ./Dockerfile
          network: host
          allow: network.host
          build-args: |
             CACHEBUST=${{ steps.date.outputs.date }}
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ env.TAGS }}
          cache-from: type=local,src=/tmp/.buildx-cache/${{ matrix.mediawiki_version }}/php-${{matrix.php_version}}/${{ matrix.variant }}
          cache-to: type=local,dest=/tmp/.buildx-cache/${{ matrix.mediawiki_version }}/php-${{matrix.php_version}}/${{ matrix.variant }}
          platforms: linux/amd64,linux/arm64

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
